.modal__save-button {
  max-width: 128px;
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}
