.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 100;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin-bottom: 24px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  cursor: pointer;
  filter: grayscale(100%);
  opacity: 0.6;
  max-width: 16px;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.modal__input {
  max-width: 440px;
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  background-color: transparent;
  outline: none;
}

.modal__label {
  margin-bottom: 8px;
}

.modal__legend {
  margin-bottom: 12px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
  padding: 0;
}

.modal__label_type_radio {
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.modal__submit {
  width: 124px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
}
