.weather-card {
  position: relative;
  display: flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
  margin: 28px 0;
}

.weather-card__temp {
  margin: 0;
  position: absolute;
  top: 20px;
  left: 16px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 40px;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
}

.weather-card__image {
  object-fit: cover;
  object-position: right top;
  width: 100%;
}
