.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  grid-auto-rows: 328px;
  grid-gap: 20px;
  box-sizing: border-box;
  justify-items: center;
  width: 100%;
  padding-left: 0;
}

.cards__text {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
