.modal__content.modal__content_type_image {
  width: 343px;
  height: 463px;
  padding: 0;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal__image {
  width: 100%;
  aspect-ratio: 1;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  padding-top: 20px;
  align-items: flex-start;
}

.modal__caption {
  margin: 0;
  padding: 0 20px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.modal__weather {
  margin: 0;
  padding: 0 20px 40px 20px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.modal__delete-button {
  color: rgba(255, 77, 0, 1);
  border: none;
  background: none;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.modal__text-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
