.modal__footer.signup-footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  justify-content: center;
}

.modal__label.signup-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal__submit.signup-button:not(:disabled) {
  cursor: pointer;
}

.modal__switch {
  width: 100%;
  text-align: center;
  margin-top: 16px;
  font-size: 12px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 10px;
}

.modal__switch-link {
  margin-left: 0px;
  cursor: pointer;
}

.signup-button {
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
  transition: background-color 0.3s ease;
}

.signup-button_active {
  background-color: #000;
  cursor: pointer;
}

.signup-button:disabled {
  opacity: 0.6;
}
