.modal__label.login-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__label.login-label:last-of-type {
  margin-bottom: 0;
}

.login-button {
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
  transition: background-color 0.3s ease;
}

.login-button_active {
  background-color: #000;
  cursor: pointer;
}

.login-button:disabled {
  opacity: 0.6;
}

.login-button:not(:disabled) {
  cursor: pointer;
}

.login-footer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
}
.login__switch {
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 12px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 10px;
}

.login__switch-link {
  margin-left: 0px;
  cursor: pointer;
}
